/****************************
* This is the CSS for the DST.
* Copy and paste this directly into the CSS textarea on obsidianportal.com
*****************************/
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Cinzel');

.ds_dragonage span {
  font-family: 'IM Fell English SC', serif;
}

.ds_dragonage .section {
  margin-top: 20px;
  max-width: 400px;
  border: 1px solid #810207;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
}

.ds_dragonage .section .da_content div:nth-of-type(even){
  background-color: #e0beb1;
}

.ds_dragonage span.section_title {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: larger;
  color: white;
  background-color: #810207;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ds_dragonage .section div.sub_header {
  background-color: black;
  color: white;
  font-size: large;
  font-weight: normal;
  text-align: center;
}
/****************************
* Basic Info
*****************************/
.ds_dragonage .dsf_xp:before {
  content: "("
}

.ds_dragonage .dsf_xp:after {
  content: " xp)"
}
/****************************
* Ability Scores
*****************************/

.ds_dragonage .ability_score {
  clear: left;
  text-align: center;
  overflow: hidden;
}

.ds_dragonage .ability_score_header {
  overflow: hidden;
}
.ds_dragonage .ability_score_header span {
  display: block;
  float: left;
  width: 120px;
}

.ds_dragonage span.ability_primary_header {
  width: 70px;
}

.ds_dragonage span.ability_rating_header {
  width: 60px;
}

.ds_dragonage span.ability_focuses_header {
  width: 150px;
}


.ds_dragonage .ability_score_name {
  display: block;
  float: left;
  width: 120px;
  font-weight: normal;
  text-align: left;
}

.ds_dragonage .ability_score_primary {
  display: block;
  float: left;
  width: 60px;
}

.ds_dragonage .ability_score_rating {
  display: block;
  float: left;
  width: 60px;
}

.ds_dragonage .ability_score_focuses {
  display: block;
  float: left;
  width: 160px;
}

/****************************
* Combat Stats
*****************************/
.ds_dragonage .combat_stats {
  display: block;
  width: 400px;
  overflow: hidden;
}

.ds_dragonage .combat_stats_header {
  overflow: hidden;
}

.ds_dragonage .combat_stats_header span {
  display: block;
  float: left;
  width: 100px;
}

.ds_dragonage .combat_stats_values span {
  display: block;
  float: left;
  width: 100px;
  text-align: center;
}

/****************************
* Armor
*****************************/
.ds_dragonage .armor {
  overflow: hidden;
}

.ds_dragonage .dsf_armor_type {
  display: block;
  width: 400px;
  text-align: center;
}
.ds_dragonage .armor_stats {
  display: block;
  float: left;
  width: 100px;
  text-align: left;
}

.ds_dragonage .armor_stats_label {
  display: block;
  width: 95px;
  text-align: right;
  padding-right: 5px;
}

/****************************
* Movement
*****************************/
.ds_dragonage .movement {
  display: block;
  width: 400px;
  overflow: hidden;
}

.ds_dragonage .movement_header {
  overflow: hidden;
}

.ds_dragonage .movement_header span {
  display: block;
  float: left;
  width: 130px;
}

.ds_dragonage .movement_values_yrd {
  overflow: hidden;
}

.ds_dragonage .movement_values_yrd span {
  display: block;
  float: left;
  width: 130px;
  text-align: center;
}

.ds_dragonage .movement_values_yrd span:after {
  content: " yrd"
}
.ds_dragonage .movement_values_sq {
  overflow: hidden;
}

.ds_dragonage .movement_values_sq span {
  display: block;
  float: left;
  width: 130px;
  text-align: center;
}

.ds_dragonage .movement_values_sq span:after {
  content: " squares"
}