/****************************
* This is the CSS for the DST.
* Copy and paste this directly into the CSS textarea on obsidianportal.com
*****************************/
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Cinzel|Crimson+Text');

/* Chainsaw's modules */
@import url('https://chainsawxiv.github.io/DST/common/css/csx_dd4e_common.css');
@import url('https://chainsawxiv.github.io/DST/common/css/csx_check.css');

/* Common CSS classes */
.ds_dragonage .hidden {
  display: none!important;
}

.ds_dragonage.editable span.dsf {
  cursor: pointer;
}

.ds_dragonage span.dsf.dsf_name,
.ds_dragonage span.dsf.dsf_avatar_image {
  cursor: auto;
}


/* Two column layout */
.ds_dragonage .da_left {
  width: 365px;
  float: left;
  padding-right: 5px;
}

.ds_dragonage .da_right {
  margin-left: 365px;
  padding-left: 5px;
}

.ds_dragonage div.dsf,
.ds_dragonage div.dslf,
.ds_dragonage span {
  font-family: 'IM Fell English SC', serif;
}

.ds_dragonage .da_section {
  margin-bottom: 10px;
  border: 1px solid #810207;
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  overflow: hidden;
}

.ds_dragonage .da_section .da_content {
  display: inline-block;
  font-weight: normal;
  font-size: small;
  vertical-align: middle;
  width: 100%;
}

.ds_dragonage .da_section .da_content .dsf,
.ds_dragonage .da_section .sub_header span
{
  display: inline-block;
  text-align: center;
}

.ds_dragonage .da_section .da_content div.row:nth-of-type(odd){
  background-color: #e0beb1;
}

.ds_dragonage span.da_section_title {
  display: block;
  width: 100%;
  height: 1.1em;
  font-weight: bold;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: larger;
  color: white;
  background-color: #810207;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 0.05em;
}

.ds_dragonage .da_section div.sub_header {
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: normal;
  text-align: left;
  padding-top: 2px;
  overflow: hidden;
}

.ds_dragonage .da_section .dsf {
  font-size: small;
}

/* Buttons to extend lists */
.ds_dragonage .sub_header span.add,
.ds_dragonage .sub_header span.trash {
  display: none!important;
}

.ds_dragonage.editable .sub_header span.add,
.ds_dragonage.editable .sub_header span.trash {
  display: inline-block!important;
  width: 15px!important;
  height: 15px!important;
  filter: brightness(150%);
}

/* Dynamic list elements */
.ds_dragonage .list {
  margin-top: 0;
  width: 100%;
  font-size: small;
}

.ds_dragonage .list .item div.edit{
  padding-top: 2px;
}

.ds_dragonage .list li.item:nth-last-of-type(odd){
  background-color: #e0beb1;
}

.ds_dragonage .list .item span {
  text-align: center;
}

/* Styling checkboxes */
.ds_dragonage .csx .check {
  text-align: center;
  margin: 0;
}

.ds_dragonage .csx .check .checkBorder {
  display: none;
  background-image:none;  
}

.ds_dragonage .csx .check .checkOff {
  background-image: url(https://github.com/humburg/dragon_age_dst/blob/master/docs/img/icons8-unchecked-checkbox-13.png?raw=true);
  background-size: 13px;
  background-position: 0;
  background-repeat: no-repeat;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.ds_dragonage.editable .csx .edit.check .checkOff:hover {
  background-image: url(https://github.com/humburg/dragon_age_dst/blob/master/docs/img/icons8-unchecked-checkbox-13.png?raw=true);
  background-size: 13px;
  background-position: 0;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.ds_dragonage .csx .check .checkOn {
  background-image: url(https://github.com/humburg/dragon_age_dst/blob/master/docs/img/icons8-tick-box-13.png?raw=true);
  background-size: 13px;
  background-position: 0;
  background-repeat: no-repeat;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.ds_dragonage.editable .csx .edit.check .checkOn:hover {
  background-image: url(https://github.com/humburg/dragon_age_dst/blob/master/docs/img/icons8-tick-box-13.png?raw=true);
  background-size: 13px;
  background-position: 0;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.ds_dragonage input[type=checkbox] {
  display: inline-block;
  width: 13px;
  height: 13px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance:none;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

.ds_dragonage.editable input[type=checkbox] {
  cursor: pointer;
}

.ds_dragonage input[type=checkbox]:not(:checked) {
  background-image: url(https://github.com/humburg/dragon_age_dst/blob/master/docs/img/icons8-unchecked-checkbox-13.png?raw=true);
}

.ds_dragonage input[type=checkbox]:checked {
  background-image: url(https://github.com/humburg/dragon_age_dst/blob/master/docs/img/icons8-tick-box-13.png?raw=true);
}

.ds_dragonage.editable input[type=checkbox]:hover{
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
  transition-property: box-shadow;
  transition-duration: 0.3s;
}

/* links */
.ds_dragonage a {
  color: black;
  text-decoration: none;
}

.ds_dragonage a:hover {
  text-decoration: underline;
}

.ds_dragonage a:active {
  color: #810207;
}

/****************************
* Tabbed interface
*****************************/
.ds_dragonage .da_tabs {
  overflow: hidden;
  background-color: black;
  width: 100%;
  margin-bottom: 5px;
}

/* Style the buttons that are used to open the tab content */
.ds_dragonage .da_tabs div,
.ds_dragonage .da_tabs .tab.tab_crunch:not(.active) {
  background-color: inherit;
  display: inline-block;
  float: none;
  padding: 5px 16px;
  transition: 0.3s;
  color: white;
  font-family: 'IM Fell English SC', serif;
  font-size: large;
  width: auto;
  height: 1.2em;
  position: relative;
}

/* Change background color of buttons on hover */
.ds_dragonage .da_tabs div:hover {
  background-color: #e0beb1;
  color: black;
  width: auto;
  height: 1.2em;
  float: none;
}

/* Create an active/current tablink class */
.ds_dragonage .da_tabs div.active {
  background-color: #810207;
  color: white;
  width: auto;
  height: 1.2em;
  float: none;
  position: relative;
  padding: 5px 16px;
}

/****************************
* Header
*****************************/
.ds_dragonage div.da_head {
  width: 100%;
  height: 180px;
  background-image: url(https://github.com/humburg/dragon_age_dst/blob/master/docs/img/dragon-age-logo.jpg?raw=true);
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
  position: relative;
}

.ds_dragonage .da_head .da_header_text {
  position: absolute;
  bottom: 20px;
}

.ds_dragonage .da_head .name {
  font-size: x-large;
}

.ds_dragonage .dsf_campaign {
  font-style: italic;
}

/****************************
* Appearance
*****************************/
.ds_dragonage .da_portrait,
.ds_dragonage .da_portrait img {
  display: inline-block;
  width: 150px;
}

.ds_dragonage .appearance_basics {
  display: inline-block;
  vertical-align: top;
  width: 205px;
}

.ds_dragonage .appearance .da_content .dsf,
.ds_dragonage .appearance .sub_header span {
  width: 100px;
}

.ds_dragonage .appearance .da_content .dsf.appearance_features,
.ds_dragonage .appearance .sub_header span.appearance_features {
  width: 200px;
}

.ds_dragonage .feature_header {
  margin-top: 5px;
}
/****************************
* Basic Info
*****************************/
.ds_dragonage .basic_info .da_content .dsf,
.ds_dragonage .basic_info .sub_header span,
.ds_dragonage .basic_info .da_content .level
{
  width: 85px;
}

.ds_dragonage .basic_info .da_content .level {
  float: right;
  text-align: center;
}

.ds_dragonage .basic_info .da_content .dsf_xp
{
  display: inline-block;
  width: auto;
}

.ds_dragonage .basic_info .da_content .dsf_level {
  display: inline-block;
  width: auto;
  padding-right: 3px;
}
.ds_dragonage .dsf_xp:before {
  content: " ("
}

.ds_dragonage .dsf_xp:after {
  content: " xp)"
}

.ds_dragonage .basic_info .language_header span,
.ds_dragonage .basic_info .language_values .dsf {
  width: 400px;
}

/****************************
* Ability Scores
*****************************/

.ds_dragonage .ability_score_header {
  overflow: hidden;
}
.ds_dragonage .ability_scores .da_content .ability_score div,
.ds_dragonage .ability_scores .da_content .ability_score span,
.ds_dragonage .ability_score_header span {
  display: inline-block;
  width: 125px;
}

.ds_dragonage .ability_scores .da_content .ability_score .row {
  width: 100%;
}

.ds_dragonage .ability_scores .ability_primary_header,
.ds_dragonage .da_content .ability_score_primary.dsf.checkbox {
  width: 50px;
  text-align: center;
}

.ds_dragonage .da_content div.ability_score_rating.dsf,
.ds_dragonage .da_content span.ability_score_rating.dsf,
.ds_dragonage .ability_scores .ability_rating_header {
  width: 50px;
}

.ds_dragonage .da_content .ability_score_focuses,
.ds_dragonage span.ability_focuses_header {
  width: 120px;
}

.ds_dragonage .da_content .ability_score_name {
  width: 118px;
  padding-left: 2px;
  font-weight: normal;
  text-align: left;
}

/****************************
* Combat Stats
*****************************/
.ds_dragonage .combat_stats {
  display: block;
}

.ds_dragonage .combat_stats_header span,
.ds_dragonage .combat_stats_values div,
.ds_dragonage .combat_stats_values span {
  display: block;
  float: left;
  width: 89px;
}

.ds_dragonage .combat_stats_values {
  text-align: center;
}

/****************************
* Armor & Shield
*****************************/
.ds_dragonage .armor {
  overflow: hidden;
}

.ds_dragonage .armor_header span {
  display: block;
  float: left;
  width: 100px;
}

.ds_dragonage .shield_header span {
  display: block;
  float: left;
  width: 150px;
}

.ds_dragonage .shield_header span.da_trained,
.ds_dragonage .armor_header span.da_trained {
  float: right;
  width: 55px;
}

.ds_dragonage .shield_values,
.ds_dragonage .armor_values {
  overflow: hidden;
}

.ds_dragonage .armor_values .dsf{
  display: block;
  width: 100px;
  float: left;
  text-align: center;
}

.ds_dragonage .shield_values .dsf{
  display: block;
  width: 150px;
  float: left;
  text-align: center;
}

.ds_dragonage .shield_values .checkbox,
.ds_dragonage .armor_values .checkbox {
  width: 55px;
  float: right;
  text-align: center;
 }

/****************************
* Movement
*****************************/
.ds_dragonage .movement {
  display: block;
}

.ds_dragonage .movement_header span {
  display: block;
  float: left;
  width: 119px;
}

.ds_dragonage .movement_values_yrd {
  overflow: hidden;
}

.ds_dragonage .movement_values_yrd .dsf {
  display: block;
  float: left;
  width: 119px;
  text-align: center;
}

.ds_dragonage .movement_values_yrd .dsf:after {
  content: " yrd"
}
.ds_dragonage .movement_values_sq {
  overflow: hidden;
}

.ds_dragonage .movement_values_sq .dsf {
  display: block;
  float: left;
  width: 119px;
  text-align: center;
}

.ds_dragonage .movement_values_sq .dsf:after {
  content: " squares"
}

/****************************
* Melee Weapons
*****************************/
.ds_dragonage.editable .melee_header {
  padding-left: 14px;
}

.ds_dragonage .melee_header span,
.ds_dragonage .list_melee .item .edit {
  display: inline-block;
  width: 70px;
  text-align: center;
}

.ds_dragonage .melee_header .da_wide {
  width: 165px;
  height: 1em;
}

.ds_dragonage .list_melee .item .da_wide{
  display: inline-block;
  width: 165px;
}

.ds_dragonage .melee_weapons div.weapon_group_header {
  text-align: center;
  width: 100%;
}
.ds_dragonage .da_section .da_content .weapon_groups {
  padding-top: 5px;
  display: inline-block;
  width: 100%;
}

.ds_dragonage .weapon_groups .dsf {
  width: 100%;
}

/****************************
* Ranged Weapons
*****************************/
.ds_dragonage .ranged_weapons {
  width: 100%;
}

.ds_dragonage.editable .ranged_header {
  padding-left: 14px;
}
.ds_dragonage .ranged_header span,
.ds_dragonage .list_ranged .item .edit {
  display: inline-block;
  width: 120px;
  text-align: center;
}

.ds_dragonage .ranged_header .da_wide,
.ds_dragonage .list_ranged .item .da_wide {
  width: 185px;
}

.ds_dragonage .ranged_header .da_narrow,
.ds_dragonage .list_ranged .item .da_narrow {
  width: 90px;
}

.ds_dragonage .ranged_weapon_values {
  overflow: hidden;
}

.ds_dragonage .ranged_weapon_values {
  display: block;
  float: left;
  text-align: center;
  width: 130px;
}

/****************************
* Specializations & Talents
*****************************/
.ds_dragonage .page_talents .da_section,
.ds_dragonage .page_talents .da_section .da_section_title {
  width: 100%;
}

.ds_dragonage.editable .page_talents .sub_header{
  padding-left: 14px;
}

.ds_dragonage .page_talents .sub_header {
  display: inline-block;
  width: 100%;
}

.ds_dragonage .page_talents .sub_header span,
.ds_dragonage .page_talents .dslf {
  display: inline-block;
  float: none;
  text-align: center;
  width: 192px;
}

.ds_dragonage .specialization_header span.da_narrow,
.ds_dragonage .csx .specialization .list .item span.check,
.ds_dragonage .talent_header span.da_narrow,
.ds_dragonage .csx .talent .list .item span.check {
  width: 20px;
}

.ds_dragonage .specialization_header span.da_wide,
.ds_dragonage .specialization .list .item div.dslf.da_wide,
.ds_dragonage .talent_header span.da_wide,
.ds_dragonage .talent .list .item div.dslf.da_wide {
  width: 432px;
}


/****************************
* Powers
*****************************/
.ds_dragonage .power span.da_wide,
.ds_dragonage .power .dslf.da_wide {
  width: 480px;
}

/****************************
* Spells
*****************************/
.ds_dragonage .page_spells .spell_wrapper {
  position: relative;
}

.ds_dragonage .page_spells .da_section,
.ds_dragonage .page_spells .da_section span.da_section_title {
  width: 100%;
}

.ds_dragonage.editable .page_spells .sub_header {
  padding-left: 14px;
}
.ds_dragonage .page_spells .sub_header span,
.ds_dragonage .page_spells .dslf {
  display: block;
  float: left;
  text-align: center;
  width: 145px;
}

.ds_dragonage .page_spells span.da_narrow,
.ds_dragonage .page_spells .dslf.da_narrow {
  width: 50px;
}

/* Spell power */
.ds_dragonage div.spell_power_display {
  position: absolute;
  top: -8px;
  left: -5px;
}

.ds_dragonage div.spell_power_value {
  display: table;
  border-radius: 50%;
  height: 43px;
  width: 43px;
  background-color: #e0beb1;
  border: 4px solid #810207;
  text-align: center;
  background-image: url(https://github.com/humburg/dragon_age_dst/blob/master/docs/img/power.png?raw=true);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
}

.ds_dragonage span.spell_power_value {
  display: table-cell;
  font-size: xx-large;
  font-family: 'Cinzel', serif;
  font-weight: bold;
  vertical-align: middle;
}

.ds_dragonage .spell_power_control {
  position: absolute;
  background-color: transparent;
  text-align: center;
  color: white;
  left: 650px;
  top: 12px;
}

.ds_dragonage .spell_power_control_values {
  left: 690px;
  top: 13px;
  width: 50px;
}

.ds_dragonage .spell_power_control_values input[type=checkbox] {
  filter: invert(1);
}


/* Background */
.ds_dragonage .page_background .dsf {
  width: 100%;
  min-height: 200px;
}

.ds_dragonage .page_background .biography{
  width: 100%;
}

/* Equipment */
.ds_dragonage .page_equipment .exchange_rate .da_content {
  text-align: center;
}

.ds_dragonage .page_equipment .money .sub_header span,
.ds_dragonage .page_equipment .money .da_content .dsf {
  width: 118px;
}

.ds_dragonage .page_equipment .equipment {
  width: 100%;
}

.ds_dragonage.editable .page_equipment .equipment .sub_header {
  padding-left: 14px;
}


.ds_dragonage .page_equipment .equipment .sub_header span,
.ds_dragonage .page_equipment .equipment .dslf {
  width: 130px;
  text-align: center;
}

.ds_dragonage .page_equipment .equipment .sub_header span.da_narrow,
.ds_dragonage .page_equipment .equipment .dslf.da_narrow {
  width: 60px;
}

.ds_dragonage .page_equipment .equipment .sub_header span.da_wide,
.ds_dragonage .page_equipment .equipment .dslf.da_wide {
  width: 225px;
}
